:root{
    --largura-capa: 300px;
    --altura-capa: 300px;

    --largura-miolo: calc(var(--largura-capa) / 3.5);
    --altura-miolo: calc(var(--altura-capa) / 3.5);

    --top-miolo: calc( (var(--largura-capa) / 2) - (var(--largura-miolo) / 2) );
    --left-miolo: var(--top-miolo);
}

.container{
    width: var(--largura-capa);
    height: var(--altura-capa);
}

.capa{
    background:url(../img/capa-disco.png);
    background-size: cover;
    width: var(--largura-capa);
    height: var(--altura-capa);
    position: absolute;
    z-index: 2;
}

.container:hover .capa{
    background-image: url(../img/capa-animada.gif);
    background-size: cover; 
}

.disco{
    border-radius: 50%;
    /* background: repeating-radial-gradient(circle at 50%, white, black, black 2px, black 20px); */
    background: repeating-radial-gradient(#000,#000 10px,#333 6px,#334 12px);
    width: var(--largura-capa);
    height: var(--altura-capa);
    position: relative;
    z-index: 1;
    /* top: 2px; */
    left: 50px;
    transition: transform 2s;
}

.container:hover .disco{
    transform: translate(150px);
    
    transition: transform 2s;
}

.rotulo{
    width: var(--largura-miolo);
    height: var(--altura-miolo);
    border-radius: 50%;
    background-image: url(../img/capa-disco.png);
    background-size: cover;
    top: var(--top-miolo);
    left: var(--left-miolo);
    z-index: 3;
    position:absolute;
}