body{
    margin: 0;
    background: #5555;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 1px solid white;
    border-radius: 2px;
    margin-top: 100px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#tarefa{
    width: 90%;
    height: 20px;
    margin-bottom: 10px;
}

button{
    height: 25px;
}