.container{
    width: 640px;
    height: 480px;
    border: 2px solid white;
    @include borda-redonda();

    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        color: white;
        text-align: center;
    }

    .foto{
        width: 156px;
        height: 156px;
        border: 1px dashed $branco;
        background: url(../img/#{$foto});
        background-size:contain;
        margin-bottom: 20px;

        

        @include borda-redonda();
        @include sombra(4px, 4px, green);

        @media screen and (max-width: 700px){
            @include bolinha-ou-quadrado(true){
                border: 3px dotted red;
            }
        }

        @media screen and (max-width: 500px){
            @include bolinha-ou-quadrado(true){
                border: 5px dotted yellow;
            }
        }
        
    }

    button{
        background: $laranja;

        @include botao-custom(){
            border-radius: 16px;
        };
        //Quando é alguma propriedade que se refere ao elemento pai, usamos o &
        &:hover{
            background: $fundo;
            color: $laranja;
            cursor: pointer;
        }
    }

    p{
        color: $branco;

        &.curso{
            font-size: 24px;
            font-weight: bold;
        }

        &.local{
            font-style: italic;
        }
    }

    
}

// lista em sass
$cores: red, yellow, orange, purple;
@each $cor in $cores {
    .item-#{$cor}{
        background: $cor;
    }
}

// for
@for $i from 1 through 3{
    li:nth-child(#{$i}){
        background: red;
    }
}

// @for $i from 1 through 30 {
//     ul:nth-child(#{$i}) {
//       background: red;
//     }
//   }